<div class="container mh-100vh">
  <div class="row">
    <div class="col-12 col-sm-6">
      <h2 class="m-2">參與者</h2>
      <div class="d-flex flex-wrap">
        <ol>
          <li class="lead">掃瞄 QR Code 加入 Line 好友</li>
          <li class="lead">輸入房號</li>
          <li class="lead">透過與 Line Bot 互動傳送彈幕</li>
        </ol>
        <%= image_tag 'line-bot-qr.png', class: 'img-fluid' %>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <h2 class="m-2">主持者</h2>
      <ol>
        <li class="lead"><a href="https://github.com/danmu-classroom/danmu-classroom-screen/releases">下載桌面應用程式</a></li>
        <li class="lead">秀出房號並等待參與者加入</li>
      </ol>
    </div>
  </div>
</div>