<div class="bg-light container-fluid mh-100vh">
  <h1 class="display-2 d-flex flex-wrap align-items-center text-center justify-content-center">
    <%= image_tag 'icon.png', width: '150', height: '150', class: 'mr-2' %>
    彈幕教室
  </h1>
  <div class="row">
    <div class="col-sm d-flex flex-wrap align-items-center mb-3">
      <%= image_tag 'line-bot-qr.png', class: 'img-fluid mx-auto' %>
    </div>
    <div class="col-sm d-flex flex-wrap align-items-center mb-3">
      <ol>
        <li class="lead">掃瞄 QR Code 加入好友</li>
        <li class="lead">輸入房號</li>
        <li class="lead">暢所欲言</li>
      </ol>
    </div>
  </div>
</div>
