<div class="container mh-100vh">
  <div class="row">
    <div class="col-sm d-flex flex-wrap align-items-center mb-3">
      <%= image_tag 'line-bot-qr.png', class: 'img-fluid mx-auto' %>
    </div>
    <div class="col-sm d-flex flex-wrap align-items-center mb-3">
      <ol>
        <li class="lead">掃瞄 QR Code 加入好友</li>
        <li class="lead">輸入房號</li>
        <li class="lead">暢所欲言</li>
      </ol>
    </div>
  </div>
</div>
